.App {
  text-align: center;
  background-color: beige;

}
.button   {
  background-color: rgb(255, 5, 5);
}

.button1{
  background-color: azure;
}

.footer{
  background-color: black;
  color: white;
  font-size:20px ;
}